*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background{
    width: 100%;
    height: 100vh;
    background: url("bigground.png");
    background-position: center;
}
.logo{
    width: 40%;
    margin: auto;
    padding: 5px;
    display: flex;
}
.spin{
    width: 30%;
    margin: auto;
    padding: 10px;
    display: flex;

}
.links{
    width: 35%;
    align-items: center;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto; 
}